html, body {
  box-sizing: border-box;
  background-color: #0f130f;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div.window-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
  /* padding: 10px; */
  overflow: hidden;
}

#image-list {
  width: 2500px;
}

#image-list>img {
  width: 474px;
  height: 474px;
}

#buttons {
  position: absolute;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  width: 100%;
  top: 45%;
}

#leftBtn {
  float: left;
  background-color: #45f7aa;
  color: white;
  font-size: 21px;
  margin: 10px;
  border: 0;
  border-radius: 80px;
  outline: 0;
  text-align: center;
  width: 120px;
  height: 50px;
  font-weight: bold;
}

#rightBtn {
  float: right;
  background-color: #45f7aa;
  color: white;
  font-size: 21px;
  margin: 10px;
  border: 0;
  border-radius: 80px;
  outline: 0;
  text-align: center;
  width: 120px;
  height: 50px;
  font-weight: bold;
}