* {
  box-sizing: border-box;
  background-color: #0f130f;
  margin: 0;
}

div.window-box {
  width: 600px;
  margin: 100px auto 50px;
  overflow: hidden;
}

#image-list {
  display: inline-flex;
  padding: 0;
  transition: all 500ms;
}

#image-list>li {
  width: 600px;
  height: 400px;
  list-style: none;
  float: left;
}

#image-list>li>img {
  width: 100%;
  height: 100%;
}

#buttons {
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

#leftBtn {
  width: 120px;
  height: 50px;
  margin: 10px;
  border: 0;
  border-radius: 80px;
  outline: 0;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: black;
  background-color: #45f7aa;
}

#rightBtn {
  width: 120px;
  height: 50px;
  margin: 10px;
  border: 0;
  border-radius: 80px;
  outline: 0;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: black;
  background-color: #45f7aa;
}
