html, body {
  box-sizing: border-box;
  background-color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div.window-box {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 3px solid;
  padding: 10px;
  overflow: hidden;
}

.image-list {
  width: 2500px;
}

.image-list>img {
  width: 474px;
  height: 474px;
}